nav div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  opacity: 30%;
}

.container {
  min-height: 100vh;
  margin: 0;
  transition: all 400ms;
}

header {
  grid-column: span 3;
  text-align: center;
  font-size: 1.4em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 8px;
}

@keyframes slideright {
  from {
    max-width: 0;
    border: none;
  }
  to {
    max-width: 500px;
  }
}

@keyframes slideleft {
  from {
    max-width: 500px;
  }
  to {
    max-width: 0;
    border: none;
  }
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 64px 1fr auto;
  }

  main {
    padding-left: 32px;
    padding-right: 32px;
  }

  .menu {
    border-right: 1px groove #ffcc00;
    overflow: hidden;
  }

  .menu-init {
    max-width: 0;
    border: none;
  }

  .menu-show {
    animation-duration: 400ms;
    animation-name: slideright;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .menu-hide {
    animation-duration: 400ms;
    animation-name: slideleft;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes slidedown {
  from {
    max-height: 0;
    border: none;
  }
  to {
    max-height: 500px;
  }
}

@keyframes slideup {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
    border: none;
  }
}

@media (max-width: 699px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  .menu {
    border-bottom: 1px groove #ffcc00;
    overflow: hidden;
  }

  .menu-init {
    max-height: 0;
    border: none;
  }

  .menu-show {
    animation-duration: 400ms;
    animation-name: slidedown;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .menu-hide {
    animation-duration: 400ms;
    animation-name: slideup;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

.icon-button {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: white;
}

.padding-left {
  padding-left: 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 3;
}

.padding {
  padding: 8px;
}

.column {
  display: flex;
  flex-direction: column;
}

.hamburger div {
  width: 35px;
  height: 5px;
  background-color: #ffcc00;
  margin: 6px 0;
}

.hamburger {
  cursor: pointer;
}

.nav-link {
  margin: 4px;
}