.nav-link {
  margin: 4px;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.hidden {
  display: none;
}

.visible {
  border-bottom: 1px solid #ffcc00;
}

.container {
  min-height: 100vh;
  margin: 0;
}

header {
  grid-column: span 3;
  text-align: center;
  font-size: 1.4em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 8px;
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 64px 1fr auto;
  }

  .hamburger {
    display: none;
  }

  nav div {
    display: flex !important;
    border-right: 1px solid #ffcc00;
  }

  main {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 699px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
}

.icon-button {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: white;
}

.padding-left {
  padding-left: 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 3;
}

.padding {
  padding: 8px;
}

.column {
  display: flex;
  flex-direction: column;
}

.hamburger div {
  width: 35px;
  height: 5px;
  background-color: #ffcc00;
  margin: 6px 0;
}

.hamburger {
  cursor: pointer;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
