.post-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
  position: relative;
}

img {
  max-height: 80vh;
  max-width: 100%;
}

.img-wrapper {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-blurb {
  justify-content: center;
  display: flex;
}

.opaque {
  opacity: 0.5;
}

.about a {
  padding: 4px;
  border: 1px solid #ffcc00;
}
